
li {
    margin: 10px;
}
.container-fluid {
    background-color:darkblue;
}
navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}